@import url(preflight.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
  button {
    transition: 300ms ease-in;
    @apply bg-primary px-6 py-1 text-white font-bold rounded-md uppercase;
  }
  button:hover {
    transform: scale(1.1);
  }
  .h2 {
    @apply text-[1.5em] lg:text-[2.5em] leading-tight text-center;
  }
}

@layer utilities {
}

/* @font-face {
  font-family: 'Gotham Book';
  src: url('fonts/Gotham\ Book\ Font.otf');
} */

/* _____________________________________________________ animations ________________________________________________ */

@keyframes fade-from-left {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
}

@keyframes fade-from-right {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
}

@keyframes fade-from-bottom {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
